@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Spartan', sans-serif;
}

.container {
  position: relative;
  min-width: 375px;
  padding: 75px 25px;
  background-color: white;
}

.container::before, .container::after {
  content: '';
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container::before {
  top: 0;
  left: 0;
  height: 235px;
  background-image: url("../images/bg-pattern-top-mobile.svg");
  background-position: bottom left;
}

.container::after {
  bottom: 0;
  right: 0;
  height: 500px;
  background-image: url("../images/bg-pattern-bottom-mobile.svg");
  background-position: top right;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content .header {
  margin-bottom: 40px;
  color: #937b92;
}

.content .header h1 {
  margin-bottom: 25px;
  color: #502050;
  line-height: 1;
}

.content .header p {
  font-weight: 500;
  line-height: 1.5;
}

.content .ratings {
  width: 100%;
  margin-bottom: 20px;
}

.content .ratings .rating {
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: #502050;
  background-color: #f7f2f7;
}

.content .ratings .rating .stars {
  margin-bottom: 10px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.testimonials .testimonial {
  margin-top: 20px;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #502050;
  color: #f7f2f7;
}

.testimonials .testimonial p {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.7;
}

.testimonials .testimonial .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.testimonials .testimonial .user-info img {
  width: 40px;
  border-radius: 50%;
}

.testimonials .testimonial .user-info .user {
  margin-top: 5px;
  margin-left: 25px;
}

.testimonials .testimonial .user-info .user h3 {
  font-size: 0.9rem;
  font-weight: 700;
}

.testimonials .testimonial .user-info .user p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ee68a4;
}
