$very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);

//### Neutral

$dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

$border-radius: 10px;
$medium: 768px;
$large: 1280px;

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Spartan', sans-serif;

  @media (min-width: $medium) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
  }
}

.container {
  position: relative;
  min-width: 375px;
  max-width: 1440px;
  padding: 75px 25px;
  background-color: $White;
  z-index: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &::before {
    top: 0;
    left: 0;
    height: 235px;
    background-image: url('../images/bg-pattern-top-mobile.svg');
    background-position: bottom left;
  }
  &::after {
    bottom: 0;
    right: 0;
    height: 500px;
    background-image: url('../images/bg-pattern-bottom-mobile.svg');
    background-position: top right;

    @media (min-width: $medium) {
      height: 300px;
    }
  }
  @media (min-width: $large) {
    padding: 130px 160px;
    &::before {
      height: 350px;
      background-image: url('../images/bg-pattern-top-desktop.svg');
    }
    &::after {
      height: 670px;
      background-image: url('../images/bg-pattern-bottom-desktop.svg');
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .header {
    margin-bottom: 40px;
    color: $dark-Grayish-Magenta;
    h1 {
      margin-bottom: 25px;
      color: $very-Dark-Magenta;
      line-height: 1;
    }
    p {
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .ratings {
    width: 100%;
    margin-bottom: 20px;
    .rating {
      padding: 15px;
      margin: 15px 0;
      border-radius: $border-radius;
      font-size: 1rem;
      font-weight: 700;
      color: $very-Dark-Magenta;
      background-color: $Light-Grayish-Magenta;

      .stars {
        margin-bottom: 10px;
      }
    }
  }

  @media (min-width: $medium) {
    flex-direction: row;

    .header {
      width: 50%;
      padding-right: 30px;
      text-align: left;

      h1 {
        font-size: 3rem;
      }
    }

    .ratings {
      width: 50%;
    }
  }

  @media (min-width: $large) {
    .header {
      width: 40%;
      padding-right: 0;
    }
    .ratings {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: end;

      .rating {
        display: flex;
        align-items: center;
        width: 440px;
        padding-left: 0;

        text-align: left;

        &:nth-child(1) {
          margin-right: 100px;
        }
        &:nth-child(2) {
          margin-right: 50px;
        }

        .stars {
          margin: 3px 30px 0;
        }
      }
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  width: 100%;

  .testimonial {
    margin-top: 20px;
    padding: 40px 30px;
    border-radius: $border-radius;
    background-color: $very-Dark-Magenta;
    color: $Light-Grayish-Magenta;

    p {
      font-size: 0.85rem;
      font-weight: 500;
      line-height: 1.7;
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      img {
        width: 40px;
        border-radius: 50%;
      }
      .user {
        margin-top: 5px;
        margin-left: 25px;

        h3 {
          font-size: 0.9rem;
          font-weight: 700;
        }
        p {
          font-size: 0.9rem;
          font-weight: 400;
          color: $Soft-Pink;
        }
      }
    }
  }

  @media (min-width: $medium) {
    flex-direction: row;
    justify-content: space-between;

    .testimonial {
      width: calc(33.33% - 10px);
    }
  }

  @media (min-width: $large) {
    .testimonial {
      width: calc(33% - 15px);
      &:nth-child(2) {
        margin-top: 40px;
      }
      &:nth-child(3) {
        margin-top: 60px;
      }
    }
  }
}
